In [1]:
#import psycopg2
import pandas as pd
import numpy as np

#conn = psycopg2.connect("dbname=apps user=editor password=M999PCedit.451 host=db.dev.mapc.org")

#cur=conn.cursor()
#data = cur.execute("SELECT * FROM listings;")

In [35]:
#listings = pd.read_sql_query("SELECT * FROM listings;", conn)
duplist = pd.read_csv('census_final.csv')

In [3]:
duplist.columns

Index(['FID_1', 'X', 'Y', 'id', 'ask', 'bedrooms', 'title', 'address',
       'posting_da', 'created_at', 'updated_at', 'source_id', 'survey_id',
       'GEOID10', 'r_hu_p', 'r_occ'],
      dtype='object')

In [36]:
duplist['dup_tba'] = np.zeros(len(duplist.index))
duplist = duplist.sort_values(by='title')
duplist = duplist2.reset_index(drop=True)
duplist = duplist.drop('Unnamed: 0', 1)

,FID_1,X,Y,id,ask,bedrooms,title,address,posting_da,created_at,updated_at,source_id,survey_id,GEOID10,r_hu_p,r_occ,dup_tba
0,"166,127",-71.053412,42.367536,"580,632","1,400",1,! ! ! ! ROOF DECK & LAUNDRY ! ! ! ! NORTH END ...,NaN,12/9/2015 16:46,17:35.6,17:35.6,1,38,25025030100,73.67,901,0
1,"216,015",-71.053412,42.367536,"630,526","1,400",1,! ! ! ! ROOF DECK & LAUNDRY ! ! ! ! NORTH END ...,NaN,12/11/2015 19:48,47:20.7,47:20.7,1,40,25025030100,73.67,901,0
2,"338,212",-71.053412,42.364098,"14,012","1,950",1,! ! ! ALL UTILITIES INCLUDED ! ! ! AWESOME NOR...,NaN,11/2/2015 15:51,06:09.1,06:09.1,0,18,25025030400,72.94,"1,070",0
3,"388,445",-71.056621,42.364499,"64,371","2,000",2,! ! ! DEAL ! ! ! NORTH END 2BED AVAILABLE ASAP...,NaN,11/17/2015 15:12,31:11.6,31:11.6,1,31,25025030200,83.29,897,0
4,"383,900",-71.055933,42.365530,"59,825","2,400",2,! ! ! PET FRIENDLY ! ! ! 2BED DUPLEX AVAILABLE...,NaN,11/14/2015 20:06,04:10.9,04:10.9,1,31,25025030200,83.29,897,0
5,"356,688",-71.074612,42.339633,"32,490","2,700",2,!!! Cool South 2 bed for Jan 2016 ! 25% Fee Di...,NaN,11/2/2015 12:59,15:38.2,15:38.2,0,18,25025070500,52.78,"1,558",0
6,"386,613",-71.074612,42.339633,"62,539","2,700",2,!!! Cool South 2 bed for Jan 2016 ! 25% Fee Di...,NaN,11/18/2015 11:40,20:19.9,20:19.9,1,31,25025070500,52.78,"1,558",0
7,"388,464",-71.056621,42.364499,"64,390","2,000",2,!!!!GREAT DEAL!!!! ?รณ?? SUNNY 2BED AVAILABLE A...,NaN,11/14/2015 19:38,31:11.7,31:11.7,1,31,25025030200,83.29,897,0
8,"344,073",-71.056621,42.364499,"19,874","2,000",2,!!!!GREAT DEAL!!!! ?รณ?? SUNNY 2BED AVAILABLE A...,NaN,10/28/2015 22:35,50:20.5,50:20.5,0,18,25025030200,83.29,897,0
9,"438,117",-71.084696,42.350347,"114,052","2,300",1,!!!Perfect 1 bedroom in Back Bay!!!,NaN,11/29/2015 17:59,04:31.4,04:31.4,1,34,25025010701,66.64,"1,023",0
10,"178,440",-71.084696,42.350347,"592,946","2,300",1,!!!Perfect 1 bedroom in Back Bay!!!,NaN,12/4/2015 2:42,30:03.6,30:03.6,1,38,25025010701,66.64,"1,023",0
11,"237,187",-71.141533,42.340950,"651,703","3,600",4,!!Location!!4bd near Coolidge Corner-Hardwood ...,NaN,12/15/2015 1:24,54:00.0,54:00.0,1,40,25025000504,87.87,"2,130",0
12,"286,146",-71.141533,42.340950,"700,647","3,600",4,!!Location!!4bd near Coolidge Corner-Hardwood ...,NaN,12/22/2015 15:20,58:27.1,58:27.1,1,42,25025000504,87.87,"2,130",0
13,"320,073",-71.141533,42.340950,"734,596","3,600",4,!!Location!!4bd near Coolidge Corner-Hardwood ...,NaN,12/29/2015 16:14,44:38.8,44:38.8,1,44,25025000504,87.87,"2,130",0
14,"407,766",-71.064528,42.345076,"83,688","2,500",1,!!NO FEE!! Beautiful brand new 1 bedroom in So...,NaN,11/15/2015 23:45,30:36.4,30:36.4,1,31,25025070402,100.00,662,0
15,"404,711",-71.005227,42.413773,"80,636","2,400",4,!Revere - $2400! Townhouse - 4 Bedroom - Come ...,NaN,11/17/2015 18:03,05:12.6,05:12.6,1,31,25025170601,44.91,838,0
16,"449,549",-71.005227,42.413773,"125,484","2,400",4,!Revere - $2400! Townhouse - 4 Bedroom - Come ...,NaN,12/1/2015 14:30,07:08.5,07:08.5,1,34,25025170601,44.91,838,0
17,"232,331",-71.005227,42.413773,"646,844","2,400",4,!Revere - $2400! Townhouse - 4 Bedroom - Come ...,NaN,12/17/2015 14:42,19:43.6,19:43.6,1,40,25025170601,44.91,838,0
18,"166,925",-71.005227,42.413773,"581,430","2,400",4,!Revere - $2400! Townhouse - 4 Bedroom - Come ...,NaN,12/3/2015 19:34,23:01.4,23:01.4,1,38,25025170601,44.91,838,0
19,"460,011",-71.035994,42.370114,"135,947","1,600",2,"# 2 Bed # Sunroom, Laundry in Building, Dishwa...",NaN,11/27/2015 20:05,21:39.3,21:39.3,1,34,25025050500,70.06,503,0
20,"400,133",-71.046881,42.353441,"76,059","5,724",2,"###$3,000 Towards Fee! Magnificent City Living!",NaN,11/12/2015 19:16,42:12.0,42:12.0,1,31,25025060600,45.75,614,0
21,"400,131",-71.046823,42.353383,"76,057","3,462",0,###SSStunning Waterfront Living!,NaN,11/12/2015 19:24,42:12.0,42:12.0,1,31,25025060600,45.75,614,0
22,"396,861",-71.072664,42.338086,"72,787","2,790",1,###Stunning No Fee 1 Bed In South End,NaN,11/12/2015 19:39,22:37.5,22:37.5,1,31,25025071101,71.76,"1,512",0
23,"350,795",-71.072664,42.338086,"26,597","2,790",1,###Stunning No Fee 1 Bed In South End,NaN,10/28/2015 19:42,34:38.6,34:38.6,0,18,25025071101,71.76,"1,512",0
24,"341,817",-71.066075,42.342154,"17,619","3,150",2,###Trendy South End 2 Bed W/ No Fee!,NaN,10/28/2015 19:59,35:50.6,35:50.6,0,18,25025071201,70.40,949,0
25,"381,766",-71.066075,42.342154,"57,690","3,150",2,###Trendy South End 2 Bed W/ No Fee!,NaN,11/12/2015 19:39,49:26.5,49:26.5,1,31,25025071201,70.40,949,0
26,"378,122",-71.085097,42.351149,"54,047","1,600",0,##Video## Marlborough Street Studio!,NaN,11/16/2015 22:46,34:05.0,34:05.0,1,31,25025010701,66.64,"1,023",0
27,"351,084",-71.149096,42.355217,"26,885","3,000",4,#*SAVE CASH*NO FEE*Ht.& Ht Water*Walk toBus*3 ...,NaN,11/1/2015 15:39,37:58.9,37:58.9,0,18,25025000601,69.47,835,0
28,"407,005",-71.035994,42.370114,"82,928","1,600",2,"#2 Bed# Just a 5 Min Walk to Maverick SQ, Hard...",NaN,11/19/2015 0:27,22:10.2,22:10.2,1,31,25025050500,70.06,503,0
29,"460,008",-71.035994,42.370114,"135,944","1,600",2,"#2 Bed# Just a 5 Min Walk to Maverick SQ, Hard...",NaN,11/30/2015 17:34,21:39.3,21:39.3,1,34,25025050500,70.06,503,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275017,"380,878",-71.069914,42.358827,"56,803","2,050",0,"~~BEACON HILL, RENOVATED W/ GRANITE, STAINLESS...",NaN,11/12/2015 3:09,44:45.1,44:45.1,1,31,25025020101,58.46,"1,545",0
275018,"161,142",-71.066934,42.361176,"575,653","2,850",2,~~BEST DEAL~NO FEE!~Beacon Hill 2 bed avail No...,NaN,12/9/2015 18:58,47:40.7,47:40.7,1,38,25025020200,81.39,"1,798",0
275019,"356,731",-71.107099,42.321527,"32,533","2,000",2,~~Forbes St. Sunny Apt. Tot Lot Next Door! Fir...,NaN,11/3/2015 13:39,16:15.1,16:15.1,0,18,25025120500,58.44,481,0
275020,"383,300",-71.107099,42.321527,"59,224","2,000",2,~~Forbes St. Sunny Apt. Tot Lot Next Door! Fir...,NaN,11/16/2015 14:45,00:17.7,00:17.7,1,31,25025120500,58.44,481,0
275021,"162,795",-71.114719,42.304224,"577,300","2,000",2,~~Rosemary St. Nice 2 Bed. Super Washer Dryer ...,NaN,12/5/2015 18:42,58:21.4,58:21.4,1,38,25025120104,60.06,621,0
275022,"390,199",-71.114719,42.304224,"66,124","2,100",2,~~Rosemary St. Washer Dryer in Unit. Nr T.,NaN,11/16/2015 14:41,36:46.9,36:46.9,1,31,25025120104,60.06,621,0
275023,"436,622",-71.114719,42.304224,"112,556","2,100",2,~~Rosemary St. Washer Dryer in Unit. Nr T.,NaN,11/29/2015 17:04,56:50.0,56:50.0,1,34,25025120104,60.06,621,0
275024,"343,539",-71.114719,42.304224,"19,340","2,200",2,~~Rosemary St. Washer Dryer in Unit. Nr T.,NaN,11/3/2015 13:34,46:26.4,46:26.4,0,18,25025120104,60.06,621,0
275025,"428,242",-71.114719,42.304224,"104,173","2,100",2,~~Rosemary St. Washer Dryer in Unit. Nr T.,NaN,11/29/2015 17:04,06:11.2,06:11.2,1,33,25025120104,60.06,621,0
275026,"306,364",-71.076789,42.349201,"720,876","2,950",1,~~YES WAY~~,NaN,12/29/2015 23:48,37:58.4,37:58.4,1,44,25025010600,85.89,"1,570",0
275027,"216,011",-71.053412,42.367536,"630,522","2,000",1,~~~ CONDO-QUALITY 1 BED ~~~ LUXURY 1 BED for O...,NaN,12/12/2015 16:08,47:20.7,47:20.7,1,40,25025030100,73.67,901,0
275028,"206,451",-71.107099,42.321527,"620,961","1,700",2,~~~ Forbes St. Sunny Apt. Tot Lot Next Door! F...,NaN,12/17/2015 14:23,12:07.1,12:07.1,1,40,25025120500,58.44,481,0
275029,"160,939",-71.107099,42.321527,"575,451","1,700",2,~~~ Forbes St. Sunny Apt. Tot Lot Next Door! F...,NaN,12/5/2015 18:41,46:17.6,46:17.6,1,38,25025120500,58.44,481,0
275030,"388,430",-71.056621,42.364499,"64,356","2,000",2,~~~ GREAT DEAL! ~~~ 2Bed Avail ASAP ~~~ 1/2 FE...,NaN,11/18/2015 16:00,31:11.5,31:11.5,1,31,25025030200,83.29,897,0
275031,"443,055",-71.056621,42.364499,"118,988","2,000",2,~~~ GREAT DEAL! ~~~ 2Bed Avail ASAP ~~~ 1/2 FE...,NaN,11/30/2015 17:40,30:03.7,30:03.7,1,34,25025030200,83.29,897,0
275032,"383,907",-71.055933,42.365530,"59,832","2,400",2,~~~ PET FRIENDLY 2BED DUPLEX AVAIL ASAP ~~~ RO...,NaN,11/13/2015 18:35,04:10.9,04:10.9,1,31,25025030200,83.29,897,0
275033,"381,572",-71.116380,42.310584,"57,497","2,200",2,~~~Hagar St. Near Eliot St and Monument. Brigh...,NaN,11/16/2015 14:47,48:07.1,48:07.1,1,31,25025120103,23.79,147,0
275034,"459,202",-71.116380,42.310584,"135,137","2,200",2,~~~Hagar St. Near Eliot St and Monument. Brigh...,NaN,11/29/2015 14:52,11:36.1,11:36.1,1,34,25025120103,23.79,147,0
275035,"341,537",-71.116380,42.310584,"17,339","2,200",2,~~~Hagar St. Near Eliot St and Monument. Brigh...,NaN,11/3/2015 13:40,33:48.1,33:48.1,0,18,25025120103,23.79,147,0
275036,"446,176",-71.087675,42.343586,"122,111","1,675",0,~~~MODERN STUDIO AVAILABLE 12/1/015~~~,NaN,11/30/2015 14:41,47:35.1,47:35.1,1,34,25025010403,96.25,"1,696",0
275037,"446,175",-71.087675,42.343586,"122,110","1,675",0,~~~MODERN STUDIO AVAILABLE 12/1/015~~~,NaN,11/30/2015 14:59,47:35.1,47:35.1,1,34,25025010403,96.25,"1,696",0
275038,"224,321",-71.087675,42.343586,"638,833","1,675",0,~~~MODERN STUDIO AVAILABLE 12/1/015~~~,NaN,12/14/2015 20:12,34:39.5,34:39.5,1,40,25025010403,96.25,"1,696",0
275039,"224,323",-71.087675,42.343586,"638,835","1,675",0,~~~MODERN STUDIO AVAILABLE 12/1/015~~~,NaN,12/14/2015 15:41,34:39.5,34:39.5,1,40,25025010403,96.25,"1,696",0
275040,"224,322",-71.087675,42.343586,"638,834","1,675",0,~~~MODERN STUDIO AVAILABLE 12/1/015~~~,NaN,12/14/2015 20:06,34:39.5,34:39.5,1,40,25025010403,96.25,"1,696",0
275041,"179,203",-71.087675,42.343586,"593,709","1,675",0,~~~MODERN STUDIO AVAILABLE 12/1/015~~~,NaN,12/9/2015 21:25,34:23.2,34:23.2,1,38,25025010403,96.25,"1,696",0
275042,"446,177",-71.087675,42.343586,"122,112","1,675",0,~~~MODERN STUDIO AVAILABLE 12/1/015~~~,NaN,11/30/2015 14:38,47:35.1,47:35.1,1,34,25025010403,96.25,"1,696",0
275043,"206,453",-71.116380,42.310584,"620,963","2,200",2,~~~One Block from Centre St. Hagar St off Cent...,NaN,12/17/2015 14:23,12:12.4,12:12.4,1,40,25025120103,23.79,147,0
275044,"191,814",-71.116380,42.310584,"606,324","2,200",2,~~~One Block from Centre St. Hagar St off Cent...,NaN,12/5/2015 18:40,51:59.9,51:59.9,1,38,25025120103,23.79,147,0
275045,"190,301",-71.076789,42.349201,"604,810","2,100",0,~~~STUDIO~~~,NaN,12/9/2015 3:02,45:03.7,45:03.7,1,38,25025010600,85.89,"1,570",0
275046,"320,640",-71.156602,42.347826,"735,162","2,800",3,~~~~~~~~ BRIGHTON CENTER 3 BED 2 BATH ~~~~~~~~...,NaN,12/30/2015 16:57,50:37.1,50:37.1,1,44,25025000402,62.61,879,0

In [5]:
def condition(col, row, r):
    if col == 't' :
        return duplist.loc[row, 'title'] == duplist.loc[r, 'title']
    elif col == 'b' :
        return duplist.loc[row, 'bedrooms'] == duplist.loc[r, 'bedrooms']
    elif col == 'a' :
        return duplist.loc[row, 'ask'] == duplist.loc[r, 'ask']
    elif col == 'l' :
        return duplist.loc[row, 'location'] == duplist.loc[r, 'location']
    elif col == 'd' :
        return duplist.loc[row, 'posting_date'] == duplist.loc[r, 'posting_date']
    elif col == 'tb' :
        return condition('t', row, r) and condition('b', row, r)
    elif col == 'tba' :
        return condition('tb', row, r) and condition('a', row, r)
    elif col == 'tbl' :
        return condition('tb', row, r) and condition('l', row, r)
    elif col == 'tbal' :
        return (duplist.loc[row, {'location', 'ask', 'bedrooms', 'title'}] == duplist.loc[r, {'location', 'ask', 'bedrooms', 'title'}]).all()
    elif col == 'tbad' :
        return (duplist.loc[row, {'ask', 'bedrooms', 'title', 'posting_date'}] == duplist.loc[r, {'ask', 'bedrooms', 'title', 'posting_date'}]).all()
    elif col == 'tbald' :
        return (duplist.loc[row, {'location', 'ask', 'bedrooms', 'title', 'posting_date'}] == duplist.loc[r, {'location', 'ask', 'bedrooms', 'title', 'posting_date'}]).all()
    else :
        return False

In [6]:
columns = 'tba'

In [7]:
i = 0
row = 0
while row < len(duplist.index) :
    duplist.loc[row, 'dup_tba'] = i
    j = 1
    r = row + j
    while (r < len(duplist.index)) and condition(columns, row, r) :
        duplist.loc[r, 'dup_tba'] = i
        j += 1
        r = row + j
    row = r
    i += 1

In [8]:
duplist.to_csv('census_final_2')